<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_Xa353rnrj9JWdKfPhvc_t3EQ3U92Zuo</string>
	<key>GCM_SENDER_ID</key>
	<string>929236157058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-d1bed</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-d1bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929236157058:ios:9d15ae7c15d3e1af59ea9b</string>
</dict>
</plist>